<% content_for :cover do %>
  <% if logged_in? %>
    <div class="row">
      <div class="col-xs-3">
        <%= search_form_for @search do |f| %>
          <div class="form-group">
            <%= f.label :title_cont, "タイトル" %>
            <%= f.text_field :title_cont, class: "form-control" %>
          </div>
          <%= f.submit "検索" %>
        <% end %>
      </div>
    </div>
    <% if @books.present? %>
      <div class="book-box">
        <h1>新着の本一覧</h1>
      </div>
      <%= render "books/books" , books: @books %>
    <% else %>
      <p>該当するものがありませんでした</p>
    <% end %>
  <% else %>
    <div class="cover">
      <div class="cover-inner">
        <div class="cover-contents">
          <div class="toppage-title">
            <h1>いらない本を、読みたい本に。</h1>
          </div>
          <%= link_to "Bookchangeを始める" , login_path ,class:"btn btn-start btn-primary" %>
        </div>
      </div>
    </div>
  <% end %>
<% end %>
